Repository alanherron/scrylytics, changes with the labels that .github/labeler.yml gives for each.
All labels: Library, Deckbuilder, AI, Infra, Design, Docs

a11y: add axe-core playwright accessibility checks for home page
  e2e/smoke.spec.js
  package-lock.json
Labels: none

perf(dx): add bundle analyzer + next.js optimizations + performance docs
  README.md
  next.config.js
Labels: Docs

Auto-hardening: CI timeouts, analyzer guard, tests, lint/types, DX/UX fixes (#20)
  .eslintrc.json
  .github/workflows/deploy-vercel.yml
  .github/workflows/skip-vercel.yml
  README.md
  e2e/smoke.spec.js
  next.config.js
  package-lock.json
  package.json
  playwright.config.js
  scripts/retry.sh
  scripts/with-timeout.sh
  tests/setup.js
  tests/smoke.spec.js
  tsconfig.json
  vitest.config.js
Labels: Infra, Docs

debug: add detailed error logging to analyzer API
  app/api/analyze/route.js
Labels: none

chore(ci): add non-hanging curl wrapper and integrate into workflows
  .github/workflows/auto-label.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/project-auto.yml
  .github/workflows/project-fields.yml
  .github/workflows/project-status.yml
  .github/workflows/skip-vercel.yml
  .github/workflows/status-comment.yml
  package.json
  scripts/curl_safe.sh
Labels: Infra

🎴 fix: use real Hearthstone card images from HearthstoneJSON API instead of placeholders
  app/api/analyze/route.js
Labels: none

⏱️ fix: add aggressive timeouts to prevent 504 gateway timeouts
  app/api/analyze/route.js
  lib/magic.js
Labels: none

✨ feat: progressive card image loading with placeholders
  app/analyzer/page.jsx
  app/api/analyze/images/route.js
  app/api/analyze/route.js
Labels: none

✨ feat: AI Insights with Parchment-Style Charts
  app/insights/page.tsx
  app/page.jsx
  components/InsightChart.tsx
  lib/ai/insightEngine.ts
  package-lock.json
Labels: none

🚀 feat: Wire AI insights into analyzer recommendations
  app/analyzer/page.jsx
  lib/ai/insightEngine.ts
Labels: none

🔧 fix: Update analyzeDeck function to match new prebuilt deck names
  lib/ai/insightEngine.ts
Labels: none

✨ feat: Expand sample decks section with 6 diverse decks
  app/analyzer/page.jsx
Labels: none

✨ feat: Make sample decks more prominent and discoverable
  app/analyzer/page.jsx
Labels: none

🔧 fix: Resolve production build failures
  next.config.js
  vercel.json
Labels: Infra

🎯 feat: Add visual indicators to confirm all 6 sample decks are loaded
  app/analyzer/page.jsx
Labels: none

🔧 fix: Resolve recharts module resolution error
  package-lock.json
  package.json
Labels: none

🚀 feat: Add incremental build versioning system
  .gitignore
  app/analyzer/page.jsx
  app/page.jsx
  lib/version.js
  package.json
Labels: none

🔧 fix: Add debugging and error handling for insights charts
  app/insights/page.tsx
  components/InsightChart.tsx
Labels: none

🔧 fix: Resolve chart rendering issues on insights page
  components/InsightChart.tsx
Labels: none

🔧 feat: Add comprehensive chart debugging system
  app/insights/page.tsx
  components/InsightChart.tsx
Labels: none

🚨 feat: Add SUPER VISIBLE debug banners
  app/analyzer/page.jsx
  app/insights/page.tsx
Labels: none

🧪 feat: Add comprehensive chart testing and validation
  app/insights/page.tsx
Labels: none

🚨 feat: Add comprehensive error boundary and loading states
  app/insights/page.tsx
Labels: none

🔄 fix: Add cache busting and hard reload for insights page
  app/insights/page.tsx
Labels: none

🔧 fix: Correct TypeScript error in hard reload button
  app/insights/page.tsx
Labels: none

🐛 debug: Force analysis to run by removing pageLoaded dependency
  app/insights/page.tsx
Labels: none

🔧 fix: TypeScript error - use valid DeckIssueType in error case
  app/insights/page.tsx
Labels: none

🔧 fix: Add missing title property to error result object
  app/insights/page.tsx
Labels: none

🐛 debug: Add comprehensive chart testing with HTML fallback
  app/insights/page.tsx
Labels: none

🐛 debug: Add visual indicators to trace InsightChart rendering
  app/insights/page.tsx
  components/InsightChart.tsx
Labels: none

🐛 debug: Temporarily disable complex chart rendering to test React error
  app/insights/page.tsx
  components/InsightChart.tsx
Labels: none

🛑 fix: Eliminate React error #418 (too many re-renders)
  app/insights/page.tsx
Labels: none

📝 Update build banner to #29 to verify deployment
  app/insights/page.tsx
Labels: none

🔄 Force redeployment with timestamp: Fri Oct 31 16:47:16 EDT 2025
  README.md
Labels: Docs

🔧 Add workflow_dispatch to manually trigger Vercel deployment
  .github/workflows/deploy-vercel.yml
Labels: Infra

🔧 Fix Vercel deployment: Simplify ParchmentFrame styling and use official Vercel CLI
  .github/workflows/deploy-vercel.yml
  components/InsightChart.tsx
Labels: Infra

🔑 Add Vercel token authentication for CLI deployment
  .github/workflows/deploy-vercel.yml
Labels: Infra

🚀 Force deployment: Temporarily disable skip check to bypass deployment blocking
  .github/workflows/deploy-vercel.yml
Labels: Infra

🔧 Fix Vercel build errors: Simplify build script, fix eslint config, disable complex components
  .eslintrc.json
  app/insights/page.tsx
  next-env.d.ts
  package.json
  vercel.json
Labels: Infra

🎯 Re-enable InsightChart components and full chart rendering
  app/insights/page.tsx
  components/InsightChart.tsx
Labels: none

.github/labeler.yml:

Library:
  - 'app/library/**'
  - 'components/library/**'
Deckbuilder:
  - 'app/deckbuilder/**'
  - 'components/deckbuilder/**'
AI:
  - 'app/ai/**'
Infra:
  - '.github/**'
  - 'vercel.json'
Design:
  - 'public/**'
  - 'styles/**'
Docs:
  - '**/*.md'
