Repository alanherron/scrylytics, changes with the labels that .github/labeler.yml gives for each.
All labels: Library, Deckbuilder, AI, Infra, Design, Docs

ci: auto-map labels to Project fields (Area/Priority/Status)
  .github/workflows/project-fields.yml
Labels: Infra

chore: trigger PR to test status automation (closes #4)
  README.md
Labels: Docs

chore: trigger PR to test status automation (closes #4) (#5)
  README.md
Labels: Docs

ci: add status comment bot for PR/label events
  .github/workflows/status-comment.yml
Labels: Infra

chore(security): set HSTS 2y + security headers at origin
  next.config.js
Labels: none

ci: add workflow to skip deploys when no app changes
  .github/workflows/skip-vercel.yml
Labels: Infra

chore: add CODEOWNERS
  .github/CODEOWNERS
Labels: Infra

docs: add note [skip vercel?]
  .DS_Store
  docs/note.md
  next.config.js
Labels: Docs

docs: update note (no app changes)
  docs/skip-check.md
Labels: Docs

ci: make skip-vercel run on PRs + allow manual dispatch
  .github/workflows/skip-vercel.yml
Labels: Infra

🚀 feat: complete DevOps setup with GitHub Actions + Vercel
  .cursor/agent.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/skip-vercel.yml
  .gitignore
  README.md
  docs/ci-cd-setup.md
  package.json
  scripts/setup-branch-protection.sh
  scripts/setup-ci-cd.sh
  vercel.json
Labels: Infra, Docs

🔧 fix: next.config.js syntax error - missing comma in securityHeaders array
  next.config.js
Labels: none

docs: update pipeline status with branch protection details
  README.md
Labels: Docs

test: verify deployment pipeline with VERCEL_TOKEN secret
  README.md
Labels: Docs

fix: add workflow_call trigger to skip-vercel.yml for reusable workflow
  .github/workflows/skip-vercel.yml
Labels: Infra

ci: disable deck analyzer in CI to prevent hang
  src/analyzer/guard.cjs
Labels: none

feat: add AI deck analyzer (Decklytics)
  app/analyzer/page.jsx
  app/api/analyze/route.js
  app/page.jsx
Labels: none

🤖 feat: integrate OpenAI GPT-4 for AI-powered deck analysis
  README.md
  app/analyzer/page.jsx
  app/api/analyze/route.js
  package-lock.json
  package.json
Labels: Docs

🎴 feat: integrate HearthstoneJSON API for enhanced deck analysis
  app/api/analyze/route.js
  lib/hearthstone.js
Labels: none

🎴✨ feat: add card images and Magic: The Gathering support
  app/analyzer/page.jsx
  app/api/analyze/route.js
  app/page.jsx
  lib/magic.js
Labels: none

🚀 fix: optimize Scryfall API integration and card image fetching
  README.md
  app/api/analyze/route.js
  lib/magic.js
Labels: Docs

📋 feat: add version indicator and API endpoint
  app/analyzer/page.jsx
  app/api/version/route.js
  app/page.jsx
  lib/version.js
Labels: none

🔧 fix: correct bash parameter expansion in branch protection script
  scripts/setup-branch-protection.sh
Labels: none

🔧 fix: add proper HTTP error handling in deck analyzer
  app/analyzer/page.jsx
Labels: none

🔧 fix: add workflow_call outputs declaration for reusable workflow
  .github/workflows/skip-vercel.yml
Labels: Infra

👤 feat: implement user system with accounts, deck saving, and dashboard
  README.md
  app/analyzer/page.jsx
  app/api/matchup/route.js
  app/api/meta/route.js
  app/dashboard/page.jsx
  app/metalyzer/page.jsx
  app/page.jsx
  app/playlitics/page.jsx
  lib/auth/user.js
  lib/meta/analyzer.js
  lib/simulation/matchup.js
Labels: Docs

🚀 Deploy all new features: Decklytics AI Analyzer, Playlytics, Metalyzer, User System (#18)
  .DS_Store
  .cursor/agent.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/skip-vercel.yml
  .gitignore
  README.md
  app/analyzer/page.jsx
  app/api/analyze/route.js
  app/api/matchup/route.js
  app/api/meta/route.js
  app/api/version/route.js
  app/dashboard/page.jsx
  app/metalyzer/page.jsx
  app/page.jsx
  app/playlitics/page.jsx
  docs/ci-cd-setup.md
  docs/note.md
  docs/skip-check.md
  lib/auth/user.js
  lib/hearthstone.js
  lib/magic.js
  lib/meta/analyzer.js
  lib/simulation/matchup.js
  lib/version.js
  next.config.js
  package-lock.json
  package.json
  scripts/setup-branch-protection.sh
  scripts/setup-ci-cd.sh
  src/analyzer/guard.cjs
  vercel.json
Labels: Infra, Docs

🔧 fix: lazy initialize OpenAI client to avoid build-time errors
  app/api/analyze/route.js
Labels: none

🐛 debug: add logging to troubleshoot basic analysis and missing card images
  app/api/analyze/route.js
Labels: none

🔧 ci: add robust timeouts and self-healing to prevent analyzer hangs
  .github/workflows/deploy-vercel.yml
  .github/workflows/skip-vercel.yml
  package.json
  scripts/with-timeout.sh
  src/analyzer/guard.cjs
Labels: Infra

🐛 fix: properly integrate CI guard to prevent analyzer hangs
  app/api/analyze/route.js
Labels: none

🐛 debug: add detailed logging to troubleshoot card image loading issues
  app/api/analyze/route.js
Labels: none

🐛 fix: ensure card images load in fallback analysis by parsing deck data
  app/api/analyze/route.js
Labels: none

🐛 debug: add deck content logging to understand why sample cards appear
  app/api/analyze/route.js
Labels: none

🎴 feat: improve Hearthstone card display with actual card names instead of generic placeholders
  app/api/analyze/route.js
Labels: none

🔧 CI Timeouts & Safety: Prevent Analyzer Hangs (#19)
  .github/workflows/deploy-vercel.yml
  .github/workflows/skip-vercel.yml
  app/api/analyze/route.js
  package.json
  scripts/with-timeout.sh
  src/analyzer/guard.cjs
Labels: Infra

ci(safety): add timeout/retry helpers + analyzer guard + health scripts
  package.json
  scripts/retry.sh
  scripts/with-timeout.sh
Labels: none

lint(types): add eslint + tsconfig with next.js rules, graceful fallback
  .eslintrc.json
  package-lock.json
  package.json
  tsconfig.json
Labels: none

test(smoke): add vitest + playwright minimal smoke tests framework
  e2e/smoke.spec.js
  package-lock.json
  package.json
  playwright.config.js
  tests/setup.js
  tests/smoke.spec.js
  vitest.config.js
Labels: none

ci(workflows): add workflow_dispatch + step timeouts + health checks + pinned actions
  .github/workflows/deploy-vercel.yml
  .github/workflows/skip-vercel.yml
Labels: Infra

.github/labeler.yml:

Library:
  - 'app/library/**'
  - 'components/library/**'
Deckbuilder:
  - 'app/deckbuilder/**'
  - 'components/deckbuilder/**'
AI:
  - 'app/ai/**'
Infra:
  - '.github/**'
  - 'vercel.json'
Design:
  - 'public/**'
  - 'styles/**'
Docs:
  - '**/*.md'
